*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --animation-default: 0.2s;
    --unit-deca: 10rem;
    --unit-large: 2rem;
    --unit-default: 1rem;
    --unit-small: 0.5rem;
    --unit-micro: 0.25rem;
    --unit-nano: 0.125rem;
    --unit-pico: .5px;
    --color-primary: #121212;
    --color-primary-50: #495057;
    --color-secundary: #f7f7f7;
    --color-secundary-pure: #fff;
    --color-accent-100: #aaa;
    --color-accent-75: #dfd8d8;
    --color-accent-50: #f0f0eb;
    --color-blue: #0594c6;
    --shadow-default: 0px 2px 8px rgba(135, 135, 135, 0.1), 0px 4px 4px -2px rgba(135, 135, 135, 0.12), 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

/* Globale standaard instellingen */
@import url('../static/fonts/poppins-bold.ttf');

@font-face {
    font-family: "Poppins Bold";
    font-style: normal;
    font-weight: 700;
    src:    url('../static/fonts/poppins-bold.ttf') 
            format("truetype");
  }

/* Typografie */
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
    color: var(--color-primary-50)
}

h3 {
    max-width: 20rem;
    font-weight: 600;
    line-height: 1.2;
}

/* Layout */
li {
    list-style: none;
}

/* Interactief */
a {
    width: fit-content;
    text-decoration: none;
    color: unset;
}

a:is(:hover, :focus) h3 {
    color: var(--color-blue);
}

button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

a:focus-visible, button:focus-visible {
    outline: none;
}

/* Zichtbaarheids instelling */
.javascriptEnabled .layout-view {
    display: block;
}

.visible {
    visibility: visible;
}